<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devops with k8s</title>
  </head>
  <body>
    <div>
      <h1>Devops with k8s</h1>

      <img src="/public/thumbnail.png" alt="kubernetes" width="400px" />
      <div>
        <input type="text" id="todo-input" />
        <button id="todo-button">Create</button>
      </div>
      <ul id="todo-list"></ul>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      render();
    });

    const todoInput = document.getElementById("todo-input");
    const todoButton = document.getElementById("todo-button");

    todoButton.addEventListener("click", () => {
      if (todoInput.value) {
        fetch("/api", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            title: todoInput.value,
          }),
        })
          .then((res) => res.json())
          .then(() => {
            render();
            todoInput.value = "";
          });
      }
    });

    async function render() {
      const todoList = document.getElementById("todo-list");
      const res = await fetch("/api");
      const data = await res.json();

      todoList.innerHTML = "";
      data.forEach((todo) => {
        const todoItem = document.createElement("li");
        todoItem.innerHTML = todo.title;
        todoList.appendChild(todoItem);
      });
    }
  </script>
</html>
